body {
    margin: 0;
    background-color: #cfcfcf;
}

.wrapper {
    width: 100%;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: #f9f9f9;
    padding: 30px 40px;
    border-radius: 12px;

    width: 650px;
    text-align: center;

    box-shadow: 0 4px 15px rgba(0,0,0,0.2);
}

h2 {
    margin-bottom: 20px;
}

input {
    width: 60%;
    padding: 10px;
    margin-bottom: 20px;

    border: 1px solid #bbb;
    border-radius: 4px;
}

.btn-row {
    margin: 10px 0;
}

button {
    padding: 10px 18px;
    margin: 5px;

    border: none;
    border-radius: 6px;

    background-color: #0d6efd;
    color: white;

    font-size: 14px;
    cursor: pointer;
}

button:hover {
    background-color: #0b5ed7;
}

p {
    margin-top: 20px;
    font-size: 16px;
}
.footer{
    position: fixed;
    bottom: 10px;
    left : 10px;
}