body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f2f2f2;
}

.app {
  text-align: center;
}

h1 {
  margin-top: 30px;
  font-size: 40px;
}

.container {
  width: 400px;
  margin: 20px auto;
}